






<div id="banner">
	<div class="outline"></div>
	
	
	<div class="frame frame1">


		
		
		
		  <div id="shadow" class="flip-card-container">
		    <div class="flip-card">
		      
		      <div class="item flip-card-front">
		        <img id="" class="" src="../_common/images/300x600/shadow.png">
		      </div>

		      <div class="item flip-card-back">
		        <img id="" class="" src="../_common/images/300x600/shadow.png">
		      </div>

		    </div>
		  </div>

		   <div  id="hero" class="flip-card-container">
		    <div class="flip-card">
		      
		      <div class="item flip-card-front">
		        <img id="front" class="retina" src="../_common/images/300x600/a.png">
		      </div>

		      <div class="item flip-card-back">
		        <img id="back" class="retina" src="../_common/images/300x600/b.png">
		      </div>

		    </div>
		  </div>

		


	</div>

	
	
	
	
</div>