<div id="banner">

	<div class="outline"></div>
	
	
	<div class="frame frame1">
		
		 <img class="retina" src="../_common/images/300x600/bg.png">

		   <div  id="text" class="flip-card-container">
		    <div class="flip-card">
		      
		      <div class="item flip-card-front">
		        <img class="retina" src="../_common/images/300x600/t1.png">
		      </div>

		      <div class="item flip-card-back">
		        <img class="retina" src="../_common/images/300x600/t2.png">
		        
		      </div>

		    </div>
		  </div>


		  <div  id="logo" class="flip-card-container">
		    <div class="flip-card">
		      
		      <div class="item flip-card-front">
		        <img class="retina" src="../_common/images/300x600/logo.png">
		      </div>

		      <div class="item flip-card-back">
		        <img class="retina" src="../_common/images/300x600/logo.png">
		        
		      </div>

		    </div>
		  </div>

		  <img class="retina dish_a" src="../_common/images/300x600/dish_a.png">
		  <img class="retina dish_b" src="../_common/images/300x600/dish_b.png">

		  <img id="cta" class="retina cta" src="../_common/images/300x600/cta.png">

<!-- 
		   <div  id="hero" class="flip-card-container">
		    <div class="flip-card">
		      
		      <div class="item flip-card-front">
		        <img class="retina" src="../_common/images/300x600/a.png">
		      </div>

		      <div class="item flip-card-back">
		        <img class="retina" src="../_common/images/300x600/b.png">
		        <img id="cta" class="retina" src="../_common/images/300x600/cta.png">
		      </div>

		    </div>
		  </div>
 -->

	</div>

</div>